# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
dist/
client/dist/
server/dist/

# Environment files & Databases
.env
server/.env
server/prisma/dev.db
server/prisma/dev.db-journal

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
